body {
  background-color: lightgreen;
  font-size: 18px;
}

.cnt {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2vw;
}

img {
  filter: grayscale();
  border-radius: 10px;
}
img:hover {
  filter: grayscale(0);
}

.cnt2 {
  border: 2px solid darkgreen;
  color: darkgreen;
  padding: 0 3vw;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 12px 35px;
}

.table {
  margin: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

tr:hover {
  background-color: #f5f5f5;
}
